# PostgreSQL Client Authentication Configuration File
# ===================================================

# {{ ansible_managed }}

{% if postgres_hbas is defined %}
{% for hba in postgres_hbas %}
{{ hba.connection_type }} {{ hba.databases | join(',') }} {{ hba.users | join(',') }}{% if hba.connection_type != 'local' %} {{ hba.address }}{% endif %} {{ hba.method }}
{% endfor %}
{% endif %}
