# PostgreSQL User Name Maps
# =========================

# {{ ansible_managed }}

{% if ident_maps is defined %}
{% for mapname,ident in ident_maps.iteritems() %}
{{ mapname }} {{ ident.system_username }} {{ ident.pg_username }}
{% endfor %}
{% endif %}
