# Connection configuration file

# {{ ansible_managed }}
{% if postgres_services is defined %}
{% for name,fields in postgres_services.iteritems() %}

[{{ name }}]
{% for field,value in fields.iteritems() %}
{{ field }}={{ value }}
{% endfor %}
{% endfor %}

{% endif %}
# vi:syntax=dosini:
